@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');
*{
	color: #404040;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

.header {
    width: 100%;
    padding: 20px 0;
	align-items: center;
}

.container {
	max-width: 1110px;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: border-box;
}

.line{
	margin-top: 30px;
    border-bottom: 1px solid;
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    font-size: 30px;
    font-weight: 1000;
    text-decoration: none;
}

.header__items{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header__items > *:not(:last-child){
	margin-right: 20px;
}

.lang-menu{
	display: flex;
	justify-content: space-between;
}

.lang-menu > *:not(:last-child){
	margin-right: 10px;
}

.lang-menu .btn{
	border: none;
	background-color: white;
	width: 30px;
	padding: 2px;
	cursor: pointer;
}

.main{
	text-align: center;
	height: 100vh;
}


.info{
	font-size: 50px;
	position: relative;
}

.info > *:not(:last-child){
	margin-bottom: 50px;
}

.info-login{
	font-size: 100px;
	padding: 20px;
	border: 1px solid;
	border-radius: 5px;
}

.info-login:hover{
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}


.footer{
	padding: 10px 0;
	background-color: #404040;
	align-items: center;
}

.footer__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__title{
	font-size: 20px;
	color: white;
}

.footer__info{
	font-size: 10px;
	color: #B4B4B4;
}


.right { float: right; }
.red { color: #FF5049 !important; }
.red-focus:focus { border: 1px solid #FF5049 !important; }

.top {
    height: 40vh;
    position: relative;
	display: flex;
	justify-content: center;
}

.budget {
    position: absolute;
	display: flex;
	justify-content: center;
	flex-direction: column;
    width: 350px;
    color: #fff;
	text-align: center;
	font-weight: 300;
}

.budget-title {
    font-size: 46px;
    margin-bottom: 10px;
}

.budget-value {
    font-size: 46px;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.budget-income,
.budget-expenses {
    padding: 12px;
    text-transform: uppercase;
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.budget-income {
    margin-bottom: 10px;
    background-color: #28B9B5;
}

.budget-expenses {
    background-color: #FF5049;
}

.budget-income-title,
.budget-expenses-title {
    font-size: 13px;
}

.tabs__items{
    display: flex;
}

.tabs_item{
    flex: 0 1 25%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
}

.tab_name, .tab_name2, .tab_name3, .tab_name4{
	position: relative;
	z-index: 2;
}

.tabs_unactive{
	visibility: hidden;
}

.tabs__block{
	position: relative;
    padding: 20px;
    font-size: 18px;
    line-height: 24px;
    display: none;
}

.tabs__block:before {
	content: "";
	height: 50px;
	width: 25%;
	position: absolute;
	top: -50px;
}

.tabs__block:nth-child(1){
	background-color: #eb8698;
}

.tabs__block:nth-child(1)::before{
	background-color: #eb8698;
	left: 0;		
}

.tabs__block:nth-child(2){
	background-color: #9278aa;
}

.tabs__block:nth-child(2)::before{
	background-color: #9278aa;
	left: 25%;
}

.tabs__block:nth-child(3){
	background-color: #97c67d;
}

.tabs__block:nth-child(3)::before{
	background-color: #97c67d;
	left: 50%;
}

.tabs__block:nth-child(4){
	background-color: brown;
}

.tabs__block:nth-child(4)::before{
	background-color: brown;
	right: 0;
}


.tabs__block:target{
	display: block;
}

.tabs__block p button{
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
}

.tabs__block p button:hover{
	background: #3bd62b;
}

.tabs__block .activity{
	color: #2E8B57;
}

.text{
	font-size: 18px;
	line-height: 24px;
	
}

.text:after{
	visibility: hidden;
}


@media (max-width: 600px){
	.tabs_item span{
		display: block;
		width: 100px;
		white-space: nowrap;
		text-align: center;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}


.view_item img{
	width: 75px;
}

.expense-list .view_item{
	border: 1px solid #e2efe1;
	background-color: white; 
	margin: 10px;
	padding: 10px 20px;
	display: flex;
	align-items: center;
}

.expense-list .view_item:last-child{
	 margin-bottom: 0;
}

.expense-list .view_item .vi_left{
	margin-right: 25px;
}

.view_item .title{
	font-weight: 600;
	color: black;
}

.view_item .content, .debt_content{
	margin: 5px 0;
	font-size: 18px;
	line-height: 22px;
	font-weight: 200;
	color: red

}


.view_item .amount, .expense_amount, .neg_amount{
	position: absolute;
	right: 0;
	width: 150px;
	height: 10px;
	color: green;
	font-size: 25px;
	font-family: bold;
}

.view_item .neg_amount{
	color: red;
}

.vi_right .img{
	position: absolute;
	right: 5%;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.view_item .expense_amount{
	color: #FF8C00;
	font-size: 18px;
}


.view_item .btn_edit, .btn_delete{
	width: 125px;
	background: #4abd3e;
	color: #fff;
	border-radius: 3px;
	padding: 8px 5px;
	text-align: center;
	font-weight: 200;
	cursor: pointer;
	display: inline-block;
}

.view_item .btn_edit:hover{
	background: #3bd62b;
}

.view_item .btn_delete{
	background: #FF0000;
}

.view_item .btn_delete:hover{
	background: #8B0000;
}

.view_item .debt_content{
	color: #FF8C00;
	
}

.modal-bg, .modal1-bg{
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s;
}



.bg-active{
	visibility: visible;
	opacity: 1;
}

.bg1-active{
	visibility: visible;
	opacity: 1;
}

.bg2-active{
	visibility: visible;
}

.modal, .member_modal{
	position: relative;
	background-color: white;
	width: 30%;
	height: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.modal-bg .split_modal{
	position: relative;
	background-color: white;
	width: 30%;
	height: 40%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	margin: 1px;
}

.split_modal .title{
	font-size: 16px;
}

.split_modal .save {
	position: absolute;
	top: 90%;
	left: 1px;
}



.modal .save{
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 7px 15px;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	position: absolute;
	left: 10px;
	top: 90%;
}

.modal .title{
	position: absolute;
	top: 1%;
	left: 10px;
	font-family: bold;
	color: black;
}


.modal .name{
	position: absolute;
	top: 10%;
	left: 10px;
	color: red;
}

.modal .name-select{
	position: absolute;
	top: 17%;
	left: 10px;
	width: 160px;
  	height: 36px;
  	line-height: 30px;
}

.modal .name-select:after{
	content: "";
	border-style: solid;
	border-width: 6px 5px 0 5px;
	border-color: #000 transparent transparent transparent; 

	position: absolute;
	top: 24%;
	right: 1rem;
	z-index: 1;
}

.modal .name-select select{
	display: block;
	width: 100%;
	background: none;
	border: 1px solid #ccc;
	border-radius: 3px;
	-webkit-appearance: none;
	appearance: none;
	font-family: inherit;
	font-size: 1rem;
	color: #444;

}

.modal .amount{
	position: absolute;
	top: 25%;
	left: 10px;
	color: green;
}

.modal .amount_input{
	position: absolute;
	top: 31%;
	left: 10px;
}

.modal button:hover{
	background: #3bd62b;
}

.modal-close, .modal1-close{
	position: absolute;
	top: 10px;
	right: 10px;
	font-weight: bold;
	cursor: pointer;
}

.modal .concept{
	position: absolute;
	top: 37%;
	left: 10px;
	color: blue;	
}

.modal .concept_input{
	position: absolute;
	top: 42%;
	left: 10px;	
}

.modal .category{
	position: absolute;
	top: 48%;
	left: 10px;
	color: purple;		
}

.modal .category-select{
	position: absolute;
	top: 53%;
	left: 10px;		
}

.modal .shared{
	position: absolute;
	top: 59%;
	left: 10px;
	color: red;		
}

.modal .share_equally{
	position: absolute;
	top: 65%;
	left: 10px;
}

.modal .add_receipt{
	position: absolute;
	top: 71%;
	left: 10px;
	color: green;
}

.modal .file{
	position: absolute;
	top: 77%;
	left: 10px;
}

.modal .button_file{
	position: absolute;
	top: 77%;
	right: 100px;
	background-color: blue; /* Green */
	border: none;
	color: white;
	padding: 7px 15px;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	cursor: pointer;
}



.member_modal h2{
	position: absolute;
	top: 0%;
	left: 10px;
	font-family: bold;
	color: black;
}

.member_modal .member{
	position: absolute;
	top: 25%;
	left: 10px;
	color: blue;
}

.member_modal .name_input{
	position: absolute;
	top: 40%;
	left: 10px;
}

.member_modal .save{
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 7px 15px;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	position: absolute;
	left: 10px;
	top: 75%;
}

.member_modal{
	width: 40%;
	height: 20%;
}

.radio{
	position: relative;
	margin-bottom: 1rem;
}

.radio__input{
	-webkit-appearance: none;
	appearance: none;
	position: absolute;
	left: 10px;
}

.radio__label{
	padding-left: 25px;
	font-size: 1rem;
	color: #444;
	cursor: pointer;
}

.radio__label:before{
	content: "";
	display: block;
	width: 16px;
	height: 16px;

	border: 1px solid #ccc;
	background-color: #fff;
	border-radius: 50%;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	transition: background .1s linear, border .1s linear;
}

.radio__label:after{
	content: "";
	display: block;
	width: 12px;
	height: 12px;

	background-color: #49d120;
	border-radius: 50%;

	opacity: 0;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 2;
}

.radio__input:checked + .radio__label:before{
	border-color: #319612; 
}

.radio__input:unchecked + .radio__label:before{
	border-color: #fff; 
}

.radio__input:checked + .radio__label:after{
	opacity: 1;
}

.radio__input:unchecked + .radio__label:after{
	opacity: 1;
}

.modal-bg .split_modal .save{
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 7px 15px;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
}

@media only screen
    and (max-device-width : 500px) {

    :root {
      --main-border-radius: 50px;
    }

    .expense_amount{
    	display: inline-block;
    	position: flex;
		right: 0;
		width: 90px;
		height: 10px;
		color: green;
		font-size: 25px;
		font-family: bold;
    }

    .vi_right .img{
    	display: flex;
		position: absolute;
		padding: 35px;
		right: 5%;
		width: 50px;
		height: 50px;
		cursor: pointer;
	}

	.view_item .amount, .neg_amount {
    	position: absolute;
		right: 0;
		width: 90px;
		height: 10px;
		color: green;
		font-size: 25px;
		font-family: bold;
	}

	.member_modal{
		width: 50%;
		height: 43%;
	}

	.member_modal .name_input{
		position: absolute;
		top: 45%;
		left: 10px;
	}

	.modal{
		position: absolute;
		background-color: white;
		top: 10%;
		width: 100%;
		height: 90%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-direction: column;
	}

	.modal-bg .split_modal{
		position: absolute;
		top: 12%;
		right: 5%;
		background-color: white;
		width: 30%;
		height: 40%;

	}

	.modal-bg .split_modal .save {
		visibility: hidden;
	}

	.modal-bg .split_modal .modal-close {
		visibility: hidden;
	}
}








